/*Styles applying to all pages*/
body {
	padding: 0;
	margin: 0;
	background-color: white;
	height: 100%;
	position: relative;
}

.hidden {
	display: none;
}


/*============ Navbar ============*/
nav {
  min-height: 85px;
  border: 5px solid white;
  background-color: #89B3A5;
  background: url(../images/navbar_logo.jpg);
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

nav ul.desktop {
  list-style-type: none;
  text-align: right;
  margin-top: 26px;
  margin-right: 20px
}

nav ul.desktop li {
  display: inline;
  margin: 0 8px;
}

nav ul.mobile {
  list-style-type: none;
  text-align: left;
  margin-top: 35px;
}

nav ul.mobile li {
  margin-top: 10px;
}

nav ul li a {
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
}

nav ul li a:hover {
  color: white;
  text-decoration: none;
  text-shadow: 2px 2px 3px black;
}

.hamburger-button {
  border: 1px solid white;
  border-radius: 5px;
  display: none;
  float: right;
  margin-top: 18px;
  margin-right: 20px;
}

.hamburger-button:hover {
  cursor: pointer;
}

#nav-link-mobile {
  display: none;
}

.nav-link-mobile {
  position: absolute;
  background-color: #89B3A5;
  width: 100%;
  top: 75px;
  z-index: 1;
}

.nav-link-mobile li {
  list-style-type: none;
  margin-top: 10px;
}

@media (max-width: 1040px) {
  nav ul li a {
    font-size: 14px;
  }
}

@media (max-width: 945px) {
  ul.desktop {
    display: none;
  }

  .hamburger-button {
    display: block;
  }
}

@media (max-width: 360px) {
  nav {
    background: url(../images/navbar_logo2.png);
  }
}


/*============ Footer ============*/
footer {
  background-color: #89B3A5;
  border: 5px solid white;
  color: white;
  text-shadow: 1px 1px 3px black;
  padding: 10px;
}

footer p {
  margin: 1px;
  font-size: 14px;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  text-decoration: none;
  color: white;
}

div.container {
	margin-top: 50px;
	width: 75%;
	max-width: 1120px;
	background-color: white;
}

div.container h1 {
	color: #006422;
	font-family: 'Book Antiqua', 'Palatino Linotype', Palatino, serif;
	text-align: left;
	border-bottom: 2px solid #006422;
	margin-top: 20px;
}

div.container h2 {
	margin-top: 15px;
	color: #006422;
	font-family: 'Book Antiqua', 'Palatino Linotype', Palatino, serif;
	text-align: center;
}

div.container p {
	margin-top: 15px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0;
}

.container img {
	width: 100%;
	height: auto;
	margin: 15px 0;
	padding-top: 15px;
}


/*Styles applying to Home*/
h2.smaller {
	font-size: 1.9em;
}

span.smallest {
	font-size: .8em;
}

a.no-style {
	color: black;
	font-style: italic;
}

/*Styles applying to Lots Available*/
div p.left {
	text-align: left;
}

p.italic {
	font-style: italic;
}

table {
	margin: 20px auto 0 auto;
	table-layout: fixed;
}

th {
	border-top: 1px solid black;
	border-bottom: 2px solid black;
	text-align: center;
	width: 200px;
	font-size: 1.3em;
}

td {
	font-size: 1.2em;
}

th.narrower {
	width: 25px;
}

td.center {
	text-align: center;
}

div.small-width {
	width: 80%;
	margin: 0 auto;
}

/*Styles applying to About The Builder*/
.about-figure {
	width: 40%;
	margin: 10px 20px 0 0;
	padding: 0;
	float: left;
}

img.victor {
	margin: 0;
	padding: 0;
}

figcaption p {
	font-size: .80em;
	text-align: center !important;
	margin: 7px 3px 3px !important;
}

.left-float {
	float: left;
}

.clear-float {
	clear: both;
}

.custom-home-banner {
	border: 1px solid black;
	margin-bottom: 60px;
	float: right;
	width: 57.75%;
}

/*Styles applying to Model Home*/
div.contact-info-div {
	width: 90%;
	margin: 0 auto 30px;
}

h3 {
	color: #006422;
	font-family: 'Book Antiqua', 'Palatino Linotype', Palatino, serif;
	margin-top: 20px;
	margin-bottom: -10px;
	text-decoration: underline;
}

.contact-phone-heading {
	margin-top: 5px;
}

a {
	color: black;
	text-decoration: none;
}

p.contact-info a:hover {
	color: black;
	text-decoration: none;
}

p.contact-info {
	font-size: 1.1em;
	font-weight: 500;
	line-height: 1.25em;
	text-align: left !important;
}

div.iframe {
	margin: 15px auto 30px auto;
	padding: 0;
	max-width: 400px;
	height: 300px;
}

iframe {
	display: block;
	width: 100%;
	height: 100%;
}

div.winter-incentive {
	margin-top: 20px;
	background-color: #c9d7e8;
	padding: 8px 20px;
}

div.winter-incentive h2 {
	color: black !important;
	font-size: 1.2em;
}

div.winter-incentive p {
	color: black !important;
	font-size: .9em;
}

div.winter-incentive a:hover {
	color: black;
	text-decoration: none;
}

@media screen and (min-width: 1290px) {
	.about-figure {
		margin-bottom: 60px;
	}
}

@media screen and (max-width: 1180px) {
	.custom-home-banner {
		width: 100%;
	}
}

@media screen and (max-width: 800px) {
	.about-figure {
		width: 50%;
	}
}

@media screen and (max-width: 600px) {
	.about-figure {
		width: 100%;
		margin-bottom: 20px;
	}
}